:root {
    --var : blue;
    --white:#fff;
    --grijs:#333333;
    --oranje:#cd853f;
    --2013-color:#ff0000;
    --2014-color: #000080;
    --2015-color:#6b8e23;
    --2016-color:#ff69b4;
    --2017-color:#daa520;
    --2018-color:#ff6347;
    --2019-color:#00bfff;
    --2022-color:#3cb371;
    --2023-color:#9932cc;
    --2024-color:#cd853f;
}
nav {
    background-color: var(--grijs);
    color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav > img {
    height: 7em;
    margin: 2em auto; /* Dit zorgt ervoor dat de afbeelding horizontaal gecentreerd wordt */
}

nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav > ul > li {
    transition-property: border-bottom;
    transition-duration: 1s;
    border-bottom: none;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
    margin-left:2em;
    font-size: 1.5em;


}
nav > ul > li > a:hover {
    /*background-color: darkorchid  ;*/
    border-bottom: 5px solid var(--accent-color);

}
nav > ul > li> a:visited {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
}


/*section:first-of-type {*/
/*    width:100%;*/
/*    display: flex;*/
/*    margin: 20% 10% 10% 10%;*/
/*    */
/*    & div{*/
/*        border:black 1em solid;*/
/*        height:15em;*/
/*        width:15em;*/
/*        margin: 1em;*/
/*        justify-content: center;*/
/*        align-content: center;*/
/*        text-align: center;*/
/*    }*/
/*}*/



.cards-section{
    display: block;
    position:relative;
    top:9em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 500px;
    height: 25.3em;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Maakt de scrollervaring soepeler op iOS-apparaten */

    & li {
        scroll-snap-align: start;
    }
}

.banner div {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(15);

}
.banner h1{
    font-size:2.5em;
    position: relative;

}
.banner {
    background-color:var(--accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes typing {
    from { width: 0 }
    to { width:15% }
}
