:root {
    --var : blue;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  General elements */

li {
    list-style: none;
}


/* Navbar */
nav {
    color:var(--grijs);

}



/* Sections */

section:first-of-type {
    width:100%;
    display: flex;
    
    & div{
        border:black 1em solid;
        height:15em;
        width:15em;
        margin: 1em;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
